#pragma once

// =======================================================================
// Пример файла с секретными данными
// Скопируйте этот файл в 'src/secrets.h' и замените значения на свои.
// Файл 'secrets.h' добавлен в .gitignore и не должен отслеживаться
// системой контроля версий.
// =======================================================================

// -- Учетные данные для Wi-Fi --
const char *ssid = "YOUR_WIFI_SSID";     // Имя вашей Wi-Fi точки доступа
const char *pass = "YOUR_WIFI_PASSWORD"; // Пароль от вашей Wi-Fi точки доступа

// -- Ключ для доступа к серверу --
const char *key = "YOUR_SERVER_KEY";